<h1>Backend calls</h1>
<p>When the available <a href="frontend.html">frontend API</a> does not have the functionality you need for your application, you can write your own.<p>

<h2>Frontend</h2>
<p>To call the application's backend, you must make an AJAX call to the URL /&lt;application directory name&gt;/&lt;backend function name&gt;. An example how to do this is shown below. In this example, the application's (directory) name is 'example'.</p>

<pre>
$.post('/example/mycall', {
    key: 'value',
    foo: 'bar'
}).done(function(data) {
    // Do some stuff with the returned data.
}).fail(function(data) {
    orb_alert($(data.responseText).find('result').text());
});
</pre>

<h2>Backend</h2>
<p>The backend must have a file named &lt;application name&gt;.php and in it, there must be a class that extends 'orb_backend'. The name of a function in that class must be &lt;HTTP method&gt;_&lt;name&gt;. The HTTP method must be in lowercase and the name is something you choose. So, a POST request to /example/something needs the function post_something(). A GET request to /example/another needs the function get_another(). A GET or POST request to just /example needs the function get() or post().</p>
<p>In an application backend class which extends the orb_backend class, the following variables are available:</p>
<ul>
<li>$this-&gt;view: An object which can be used to send data to the frontend. Frontend and backend communication goes via XML. This object has the following functions:
    <ul>
    <li>open_tag(&lt;tag name&gt;): Opens a XML tag in the output.
    <li>add_tag(&lt;tag name&gt;, &lt;value&gt;): Adds a XML tag to the output.
    <li>close_tag(): Closes a XML tag that has been opened via open_tag().</p>
    </ul>
</li>
<li>$this-&gt;home_directory: A string containing the home directory of the current user.</li>
<li>$this-&gt;username: The username of the current user.</li>
<li>$this-&gt;parameters: Array with the remaining part of the URL path (without application and function name).</li>
<li>$this-&gt;get_filename: The file formed by $this-&gt;homedir and $this-&gt;parameters.</li>
</ul>
<p>In case of an error, return a HTTP error using the function $this-&gt;view-&gt;return_error(code) and add a text message to a tag named 'result'.

<pre>
&lt;?php
    namespace Orb;

    class template extends orb_backend {
        public function post_mycall() {
            if (some_error_occurred) {
                $this-&gt;view-&gt;return_error(500);
                $this-&gt;view-&gt;add_tag("result", "There was an error.");
            } else {
                $this-&gt;view-&gt;add_tag("text", "Hello world!");
            }
        }
    }
?&gt;
</pre>
