div.manual {
	height:100%;
	overflow-y:auto;
	font-family:monospace;
	padding-right:10px;
	user-select:text;
}

div.manual h1 {
	margin-top:0;
	color:#2040ff;
}

div.manual h2 {
	color:#4060ff;
	border-bottom:1px solid #ff8000;
}

div.manual h3 {
	color:#6080ff;
}

div.manual h4 {
	font-size:15px;
	line-height:20px;
	margin-bottom:0;
	color:#333333;
	font-weight:bold;
}

div.manual a {
	color:#6080ff;
}

div.manual p + ul {
	margin-top:-10px;
}

div.manual ul {
	padding-left:20px;
}
