<h1>Orb window</h1>
<p>The orb_window jQuery plugin turns a HTML string into an Orb application and returns it as an object. Call its open() function to open the window and its close() function to close (destroy) it.</p>

<pre>
var window_content =
    '&lt;div class="example"&gt;' +
    // your application HTML code
    '&lt;/div&gt;';

var example_window = $(window_content).orb_window({
    // Window settings
});

example_window.open();
</pre>

<h2>Window settings</h2>
<ul>
<li>width (integer): The default width of the window.</li>
<li>height (integer): The default height of the window.</li>
<li>header (string): The header text of the window.</li>
<li>icon (string): The URL to an icon file.</li>
<li>menu (object): See below.</li>
<li>menuCallback (function): Function to call when a menu item has been clicked. The window object and the text of the clicked item are sent as parameters.</li>
<li>open (function): Function to call after the window has been opened.</li>
<li>close (function): Function to call when the window is closed.</li>
<li>maximize (boolean): The window can be maximalized.</li>
<li>minimize (boolean): The window can be minimalized.</li>
<li>resize (boolean): The window is resizable.</li>
<li>dialog (boolean): The window is a normal window (false) or a dialog window (true). A dialog window will block the rest of the screen with a half transparent gray layer and can't be minimalized.</li>
<li>taskbar (boolean): Make the window appear in the taskbar.</li>
</ul>

<h2>Menu object</h2>
<p>The menu object contains one or more arrays, which consists of strings representing the menu items. For example:</p>

<pre>
menu: {
    'File': [ 'New', 'Open', 'Save', 'Save as', '-', 'Exit' ],
    'Edit': [ 'Find', 'Find next', 'Find &amp; Replace' ],
    'Help': [ 'About' ]
}
</pre>
