div.content:first-child {
	background-image:url(/images/orb.png);
	background-repeat:no-repeat;
	background-position:top 15px right 50px;
	background-size:230px;
	margin-bottom:50px;
}

h1:after {
	background-image:none;
}

div.source {
	margin-top:-20px;
	text-align:right;
}

div.source a {
	color:#a0a0a0;
}
