/* Counters
 */
div.minesweeper div.counters {
	background-color:#e8e8f4;
	height:25px;
	padding-top:2px;
	margin-bottom:5px;
}

div.minesweeper div.counters span {
	display:inline-block;
	width:50%;
	text-align:center;
	font-weight:bold;
}

div.minesweeper div.counters span input {
	background-color:inherit;
	width:30px;
	border:none;
	font-weight:normal;
}

/* Minefield
 */
div.minesweeper table.minefield {
	border-spacing:0;
	border-collapse:collapse;
}

div.minesweeper table.minefield td {
	background-color:#e0e0e0;
	line-height:0;
	text-align:center;
	font-weight:bold;
	width:25px;
	height:25px;
}

div.minesweeper table.minefield button {
	width:inherit;
	height:inherit;
	padding:0;
	border-top:4px solid #c0c0c0;
	border-right:4px solid #a0a0a0;
	border-bottom:4px solid #a0a0a0;
	border-left:4px solid #c0c0c0;
	background-color:inherit;
	background-size:15px;
	background-repeat:no-repeat;
	background-position:center;
}

div.minesweeper table.minefield button.flag {
	background-image: url(/apps/minesweeper/flag.png);
}

div.minesweeper table.minefield button.mine {
	background-image: url(/apps/minesweeper/mine.png);
}

/* Victory
 */
div.minesweeper table.victory td,
div.minesweeper table.victory button {
	background-color:#40f040;
}

div.minesweeper table.victory button {
	border-top:4px solid #a0f0a0;
	border-right:4px solid #80f080;
	border-bottom:4px solid #80f080;
	border-left:4px solid #a0f0a0;
}

/* Boom
 */
div.minesweeper table.boom td,
div.minesweeper table.boom button {
	background-color:#ff4040;
}

div.minesweeper table.boom button {
	border-top:4px solid #ffa0a0;
	border-right:4px solid #ff8080;
	border-bottom:4px solid #ff8080;
	border-left:4px solid #ffa0a0;
}

/* Mobile
 */
div.minesweeper div.switcher {
	padding:10px;
	text-align:center;
}
